<div class="row">
  <div class="col">
    <header>
      <div class="left">
        <div class="button">
          <a href="#">
            <i class="fa fa-align-justify"></i>
          </a>
        </div>
      </div>

      <div class="right">
        <!-- <div class="button left">
          <button (click)="logout()">Logout</button>
        </div> -->
        <div class="button left">
          <div id="badge">
            <span class="badge badge-pill badge-danger">
              <a href="#">3</a>
            </span>
          </div>
        </div>
        <div class="button left">
          <a href="#">
            <i class="fa fa-search"></i>
          </a>
        </div>
      </div>
    </header>

  </div>
</div>