
footer {
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 100%;
    font-weight: 500;
}

.info {
    width: 70%;
    height: 100%;
    background-color: #ddd;
    padding-top: 5vw;
    float: left;
}

.total {
    width: 30%;
    height: 100%;
    background-color: cornflowerblue;
    padding-top: 5vw;
    float: left;
}
