<div class="branch">

    <header>
        <div class="left nav" [routerLink]="['/branches', brandName]">
            <i class="fa fa-angle-left"></i>
            <label>Back</label>
        </div>
        <div class="nav">
            <label>Adidas</label>
        </div>
        <div class="nav">
            <i class="fa fa-phone"></i>
        </div>
    </header>

    <div class="banner">
        <div id="push">300 L.E.</div>
    </div>

    <section>
        <div class="toolbar">
            <div>
                <img class="thumb" src="img/Adidas_Logo.svg.png" alt="Adidas">
            </div>
            <div class="info">
                <div class="name">Adidas</div>
                <div class="rating">8.5/10</div>
            </div>
            <div class="box right">
                <i class="fa fa-heart"></i>
            </div>
            <div class="box right">
                <i class="fa fa-image"></i>
            </div>
        </div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
            specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            <a href="#" class="right">More Details</a>
        </p>
    </section>

    <footer>
        <i class="fa fa-map-marker left"></i>
        <p class="left">
            <strong>Address: </strong>
            Building 25, Cosmos Street, NA.
        </p>
    </footer>
</div>

