<div class="login">

  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <h1>Login</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="text" class="field input" placeholder="Full Name">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="password" class="field input" placeholder="Password">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="field button" id="login-btn">Login</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a href="#" class="field">Forget password?</a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="field button" id="signup-btn">Sign Up</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="field button" id="facebook-btn">Facebook</button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a href="#" class="field">Skip</a>
      </div>
    </div>

  </div>

</div>
