section {
    padding: 10vw 3vw;

}

.row {
    margin-bottom: 5vw;
    padding: 0 2.5vw;
}

.col {
    float: left;
    text-align: center;
    padding: 1vw;
}

section .col {
    padding: 0.2rem !important;
}

.card {
    width: 100%;
    height: 25vh;
    background-color: darkcyan;
    color: #fff;
    font-size: 300%;
    border: 2px solid #555;
}

.card img {
    width: 100%;
    height: 100%;
}
