<section>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="/assets/01-shopping.jpg" alt="Shopping">
                <span>Shopping</span>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/02-restaurants.jpg" alt="Restaurants">
                <span>Restaurants</span>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/03-sportive.jpeg" alt="Sportive">
                <span>Sportive</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="/assets/04-travelling.jpg" alt="Travelling">
                <span>Travelling</span>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/05-healthcare.jpg" alt="Healthcare">
                <span>Healthcare</span>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/06-hangout.jpg" alt="Hangout">
                <span>Hangout</span>
            </div>
        </div>
    </div>
</section>