<div class="profile-editor">

    <app-header></app-header>

    <div class="container">

        <div class="head">
            <div class="photo left">
                <img src="/assets/user.png" alt="">
            </div>
            <div class="left">
                <div class="field">
                    <input type="text" placeholder="Full Name" value="{{ name }}">
                </div>
            </div>
        </div>

        <div class="field">
            <input type="tel" placeholder="Mobile number" value="{{ mobile }}">
        </div>
        <div class="field">
            <input type="email" placeholder="Email" value="{{ email }}">
        </div>
        <div class="field">
            <input type="text" placeholder="Birth date" value="{{ birthDate }}">
        </div>
        <div class="field gender">
            <label for="gender">Male</label>
            <input type="radio" name="gender" value="male" checked>
            <label for="gender">Female</label>
            <input type="radio" name="gender" value="female">
        </div>
        <div class="field">
            <input type="text" placeholder="Home area" value="{{ homeArea }}">
        </div>
        <div class="field">
            <input type="text" placeholder="Work area" value="{{ workArea }}">
        </div>

        <div class="buttons">
            <div class="field">
                <button id="save" routerLink="/profile">Save</button>
            </div>
            <div class="field">
                <button id="cancel" routerLink="/profile">Cancel</button>
            </div>
        </div>

    </div>
</div>
