<div class="profile-editor">

    <app-header></app-header>

    <div class="container">

        <div class="head">
            <div class="photo left">
                <img src="/assets/user.png" alt="">
            </div>
            <div class="left">
                <div class="field">
                    <input type="text" placeholder="Full Name" value="{{ name }}" disabled>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="email" placeholder="Email" value="{{ email }}" disabled>
        </div>

        <form #f="ngForm" (ngSubmit)="save(f.value)">
            <div class="field">
                <label for="mobile">Mobile</label>
                <input [(ngModel)]="mobile" name="mobile" id="mobile" type="tel" placeholder="Mobile number">
            </div>
            <div class="field">
                <label for="birthDate">Birth Date</label>
                <input type="date" [ngModel] ="birthDate | date:'yyyy-MM-dd'" name="birthDate" (ngModelChange)="birthDate = $event" placeholder="Birth date" />
            </div>
            <div class="field gender">
                <label for="gender">Male</label>
                <input [(ngModel)]="gender" name="gender" value="Male" type="radio" [checked]="gender == 'Male'">
                <label for="gender">Female</label>
                <input [(ngModel)]="gender" name="gender" value="Female" type="radio" [checked]="gender == 'Female'">
            </div>
            <div class="field">
                <label for="homeArea">Home</label>
                <select [(ngModel)]="homeArea" name="homeArea" id="homeArea">
                    <option value="">Select</option>
                    <option *ngFor="let area of areas" [value]="area" [selected]="area == homeArea">{{ area }}</option>
                </select>
            </div>
            <div class="field">
                <label for="workArea">Work</label>
                <select [(ngModel)]="workArea" name="workArea" id="workArea">
                    <option value="">Select</option>
                    <option *ngFor="let area of areas" [value]="area" [selected]="area == workArea">{{ area }}</option>
                </select>
            </div>

            <div class="buttons">
                <div class="field">
                    <button type="submit" id="save">Save</button>
                </div>
                <div class="field">
                    <button id="cancel" routerLink="/profile">Cancel</button>
                </div>
            </div>
        </form>

    </div>
</div>