<div class="signup">

  <!-- <div class="container-fluid"> -->

    <div class="row">
      <div class="col">
          <h1>Sign Up</h1>
      </div>
    </div>

    <div class="field">
      <input type="text" class="input" name="name" id="name" placeholder="Full Name">
    </div>
    <div class="field">
      <input type="password" class="input" name="password" id="password" placeholder="Password">
    </div>

    <div class="field">
      <input type="tel" class="input" name="mobile" id="mobile" placeholder="Mobile">
    </div>

    <div class="field birth">
      <label for="birth">Birth Date</label>
      <input type="date" class="input" name="birth" id="birth" placeholder="Birth Date">
    </div>

    <div class="field gender">
      <span>
        <input type="radio" name="gender" value="male" checked>Male</span>
      <span>
        <input type="radio" name="gender" value="female">Female</span>
    </div>

    <div class="field home">
      <select class="input" name="home" id="home">
        <option value="0">Home Area</option>
        <option value="cairo">Cairo</option>
        <option value="alex">Alexandria</option>
      </select>
    </div>

    <div class="field work">
      <select class="input" name="work" id="work">
        <option value="0">Work Area</option>
        <option value="cairo">Cairo</option>
        <option value="alex">Alexandria</option>
      </select>
    </div>

  </div>

<!-- </div> -->

