<div class="profile">

    <header>
        <div class="left">
            <div class="button">
                <a href="#">
                    <i class="fa fa-align-justify"></i>
                </a>
            </div>
        </div>

        <div class="title">
            <h3>Profile</h3>
        </div>

        <div class="right">
            <div class="button left">
                <div id="badge">
                    <a href="#">3</a>
                </div>
            </div>
            <div class="button left">
                <a href="#">
                    <i class="fa fa-search"></i>
                </a>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="head">
            <div class="photo left">
                <img src="img/user.png" alt="">
            </div>
            <div class="detail left">
                <h3>Full Name</h3>
                <p>350 Points</p>
            </div>
        </div>

        <div class="field">
            <input type="tel" placeholder="Mobile number" disabled>
        </div>
        <div class="field">
            <input type="email" placeholder="Email" disabled>
        </div>
        <div class="field">
            <input type="text" placeholder="Birth date" disabled>
        </div>
        <div class="field">
            <input type="text" placeholder="Gender" disabled>
        </div>
        <div class="field">
            <input type="text" placeholder="Home area" disabled>
        </div>
        <div class="field">
            <input type="text" placeholder="Work area" disabled>
        </div>

        <div class="field">
            <button id="change">Change Password</button>
        </div>
        <div class="field">
            <button id="edit" routerLink="/profile-editor">Edit</button>
        </div>

    </div>
</div>

