

section {
    height: 85vh;
    padding: 5vw 3vw;
}

.item {
    height: 13vh;
    border: 1px solid #ccc;
    padding: 1vw;
    margin-bottom: 2vw;
}

/* 
.item:nth-child(even) {
    background-color: #ddd;
} */

.logo {
    width: 20vw;
    height: 20vw;
    float: left;
    padding: 1.5vw;
    background-color: #fff;
    border: 1px solid #ccc;
    /* border-radius: 50%; */
}

.logo img {
    width: 100%;
    height: auto;
}

.info {
    float: left;
    margin-left: 2vw;
    margin-top: 3vw;
}

.info p {
    margin-bottom: 0;
    margin-left: 5vw;
}

.info .title {
    font-weight: 500;
}



@media screen and (min-width: 576px) {
    body {
        background-color: bisque;
    }

    header {
        height: 3rem;
    }

    .button {
        padding-top: 2vw;
    }

    #badge {
        width: 4vw;
        height: 4vw;
        margin-top: -0.5vw;
    }

    ul {
        height: 2rem;
    }

    ul li {
        padding-top: 0.5vw;
    }

    section {
        padding-top: 2vw;
    }

    #list {
        width: 80%;
        margin: 0 auto;
    }

    .item {
        height: 6.5rem;
        padding-left: 1rem;
        margin-bottom: 1.5vw;
    }

    .logo {
        width: 5.5rem;
        height: 5.5rem;
    }

    .info {
        margin-top: 1vw;
    }

    .info .title {
        font-size: 175%;
    }

    .info p {
        font-size: 110%;
    }
}



@media screen and (min-width: 768px) {
    body {
        background-color: aquamarine;
    }
}