<div class="home">

    <app-header></app-header>

        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <span class="tab">Categories</span>
                </li>
                <li class="nav-item">
                    <span class="tab">Brands</span>
                </li>
            </ul>
        </nav>

        <section>
            <div class="row">
                <div class="col">
                    <div class="card">
                        1
                        <!-- <img src="img/01-shopping.jpg" alt="shopping"> -->
                    </div>
                </div>
                <div class="col">
                    <div class="card">2</div>
                </div>
                <div class="col">
                    <div class="card">3</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">4</div>
                </div>
                <div class="col">
                    <div class="card">5</div>
                </div>
                <div class="col">
                    <div class="card">6</div>
                </div>
            </div>
        </section>

        <footer>
            <div class="info left">Full Name: John Doe</div>
            <div class="total left">350 Points</div>
        </footer>

    </div>

