<div class="home">

    <app-header></app-header>

    <ngb-tabset id="home-tabs" #t="ngbTabset" [activeId]="activeTab">
        <ngb-tab id="tab-categories">
            <ng-template ngbTabTitle>Categories</ng-template>
            <ng-template ngbTabContent>
                 <categories (categorySelected)="onCategorySelected($event)"></categories>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-brands">
            <ng-template ngbTabTitle>Brands</ng-template>
            <ng-template ngbTabContent>
                <brands [selectedCategory]="selectedCategory"></brands>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

    <app-footer></app-footer>

</div>